<h1>About Task Track</h1>

<p>This is a simple todo list and task tracking app I built using a few new gems and apis including: </p>
<ul>
  <li>Devise - easy authentification</li>
  <li>Bootstrap - quick front end elements</li>
  <li>Simple Form - for easier form markup</li>
  <li>Font Awesome - simple logo icon</li>
  <li>Simple Form - for easier form markup</li>
  <li>Auto Html - transform URL to appropriate resource</li>
  <li>DotEnv - simple way to handle environment variables</li>
</ul>

<p>Made by <%= link_to 'Chad', 'https://twitter.com/chadpflores' %> for <%= link_to 'BuildRed.co', 'http://buildred.co' %>.</p>