<div class="row">
  <div class="jumbotron text-center" id="jumbotron">
    <h1><i class="fa fa-connectdevelop"></i> <span id="topper">Task Track</span></h1>
    <p>Lightweight web app for getting things done.</p>
    <p><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %></p> 
  </div>
</div>
<div class="row">
  <div class="col-md-4 text-center">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3>Make lists of tasks you need to get done</h3>
      </div>
      <h1><i class="fa fa-tasks"></i></h1>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3>Track anything - links, videos, pictures</h3>
      </div>
      <h1><i class="fa fa-picture-o"></i> <i class="fa fa-film"></i></h1>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3>Watch your free time skyrocket!</h3>
      </div>
      <h1><i class="fa fa-rocket"></i></h1>
    </div>
  </div>
</div>